<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About CBS Token</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <h4> What is CBSToken? </h4>
     Our project is aimed at increasing ad revenue by using the benefits of Blockchain technology. This technology can revolutionize the way users consume and share content on social media platforms. <br>
     <br>
     A user first shares content from our website on social media. The shared content is then viewed by other users. Clicks to our site generate ad revenue. CBSi takes a 50% cut off the top and the other 50% is distributed as CBSTokens. These tokens are then awarded back to the users. <br>
     <br>

     Users can then use CBSTokens to a) buy All Access or Fantasy Sports subscriptions b) buy ads on our sites or c) convert/cash out. <br>
    <br>
    <br>

    <h5>Business Model</h5>
    <img style="width: 600px; height: 450px;" src="assets/imgs/business_model.png" />

    <h6>System architecture</h6>
    <img style="width: 600px; height: 450px;" src="assets/imgs/system_architecture.png" />


    <h5>	Demo Guide.	</h5>
    <p> 1. Install the Metamask Chrome extension. <br>
        2. Switch to to the Ropsten test network and create an account. <br>
        3. Add CBS Token in Metamask UI by clicking 'ADD TOKEN' button in 'TOKENS' tab.( CBS Token contract address: 0x7A2894F844dA156B6F43390d98010719366FA580) <br>
        4. Get tokens by either sharing content or requesting free tokens on this website.<br> 
        5. Go to the video page to use your CBS Tokens.( You have to have some fake Ether in Rosten test network in order to make a transaction. You can get it free in some websites.) <br>
    </p>
    <br>

    <h6>	Live CBS Token Ropsten page.	</h6>
    <a href="https://ropsten.etherscan.io/token/0x7A2894F844dA156B6F43390d98010719366FA580" target="_blank">https://ropsten.etherscan.io/token/0x7A2894F844dA156B6F43390d98010719366FA580</a>
    <br>
    <br>

    <h6> Live Demo CBSNews web page. </h6>
    <p>	You can share the following page on Facebook in order to get Free CBS Tokens.: </p>
    <a href="http://ec2-54-193-0-237.us-west-1.compute.amazonaws.com:3000/" target="_blank"> http://ec2-54-193-0-237.us-west-1.compute.amazonaws.com:3000/ </a>

    <br>
    <br>

    <h6> Live Demo CBSNews video web page. </h6>
    <p>	You can watch paid video content by paying CBS Token on the following web page. </p>
    <a href="http://ec2-54-193-0-237.us-west-1.compute.amazonaws.com:3000/all-access.html" target="_blank"> http://ec2-54-193-0-237.us-west-1.compute.amazonaws.com:3000/all-access.html </a>


</ion-content>

