<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <div >
      <ion-grid>
          <ion-row>
              <img style="width: 50px; height: 50px;" src="assets/imgs/cbsnews.svg" />
              <ion-title>Authenticated Faucet</ion-title>
          </ion-row>
      </ion-grid>
      
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input [(ngModel)]="socialUrl" type="text" placeholder="Social network URL containing your Ethereum address"></ion-input>
  </ion-item>

  <ion-title>
  <button ion-button color="dark" (click)="onGiveMeToken(socialURL)" type="submit">Give me CBSTokens</button>
  </ion-title>

  <div *ngIf="isRequested">
    You will now receive CBS tokens when people click your URL.
  </div>


  <ion-item>
    <ion-title>
      How does this work?
    </ion-title>
  </ion-item>
  <ion-slides pager>

    <ion-slide>
      <h2>Step 1 - Share a post on cbsnews.com</h2>
      <img style="width: 700px; height: 450px;" src="assets/imgs/1-cbsn.png" />

      <br>
      <br>
      <a href="http://ec2-54-193-0-237.us-west-1.compute.amazonaws.com:3000/" target="_blank"> Demo page </a>
    </ion-slide>
  
    <ion-slide>
        <h2>Step 2 - Post the content</h2>
        <img style="width: 400px; height: 450px;" src="assets/imgs/2.png" />
    </ion-slide>

    <ion-slide>
      <h2> Step 3 - On your timeline, tap the timestamp </h2>
      <img src="assets/imgs/3.png" />
    </ion-slide>

    <ion-slide>
        <h2> Step 4 - Copy the link from your post page </h2>
        <img src="assets/imgs/4.png" />
    </ion-slide>

    <ion-slide>
        <h2> Step 5 - Paste the url into the faucet website and recieve tokens! </h2>
        <img src="assets/imgs/5.png" />
    </ion-slide>

  </ion-slides>
</ion-content>