<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Request Free CBS Token</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h3>CBSToken Authenticated Faucet</h3>



  <h6>
    Your Ropsten test network account:
  </h6>

  <ion-item>
      <ion-input [(ngModel)]="userAccount" type="text" placeholder="Enter your Ropsten account address."></ion-input>
  </ion-item>

  <button ion-button (click)="onGiveMeFreeToken(userAccount)" type="submit">Send me 5 CBSToken!</button>

  <p id="txLink"></p>

</ion-content>

